@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* we declaring variable */

:root {

    --primary-color: #6c12e2;
}



/* container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-centre {
    max-width: 600px;
    margin: auto;

}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primlnk {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: rgb(244, 241, 241);
}

.sndrylnk {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
}

/* look in to BEM nameing convection */